
body {
	background: #ffffff;
	/*font-family: Arial, Helvetica, sans-serif;*/
	font-size: 18px;
	margin: 20px;
	}
	
/*title */

.title {
	text-shadow: 5px 5px 5px #000000;
	color: #034F84;
	font-size: 300%;
	font-family: Abril Fatface;
	padding: 5px;
	padding-top: 0px;
	height: 200px;
	text-align: center;
	letter-spacing: 2px;
	}

/*box 1 */
.container{
	position :relative;
	background:none;
	max-width:1200px;
	width: 82%;
	height:300px;
	margin:auto;
}
.box1 {
	position: left;
	background: #92B6D5;
	max-width: 900px;
	width:40%;
	height: 300px;
	margin: auto;
	float:left;
	padding: 0px 50px 0 50px;
	border-radius: 15px ;
}
	


.box1.inputbox {
	position: center;
	margin: auto;
	padding-top:30px;
	}

.box1 .inputbox input {
	position:center;
	outline-color:#bfbfbf;
	background: #ffffff;
	width: 100%;
	height:60px;
	font-size: 32px;
	color:#353839;
	margin: auto;
	max-width:99%;
	border: 5px;
	border-radius: 5px ;
	border-color: #4C6A92;
	
	}
	
.box1 .button {
	position: left;
	margin: 30px 60px;
	text-align: center;
}
.box1 h2 {
	text-align: center;
		}
.box1 .button button {
	outline: 0;
	cursor: pointer;
	position: relative;
	display: inline;
	background: linear-gradient(#787878 , #404040)  ;
	/*background: #676767  ;*/
	width: 240px;
	border: 2px solid #bfbfbf;
	border-radius: 5px;
	padding: 20px 0;
	font-size: 22px;
	font-weight: 600;
	line-height: 1;
	text-transform: uppercase;
	overflow: hidden;
	-webkit-transition: .3s ease;
	transition: .3s ease;
}
.box1 .button button span {
	position: relative;
	z-index: 1;
	color: #1B1B1B;
	-webkit-transition: .3s ease;
	transition: .3s ease;
}
.box1 .button button:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	display: block;
	background: #66b3ff;
	width: 30px;
	height: 20px;
	border-radius: 100%;
	margin: 0;
	opacity: 0;
	-webkit-transition: .3s ease;
	transition: .3s ease;
}
.box1 .button button:hover, .box1 .button button:active, .box1 .button button:focus {
	border-color: #fff;
}
.box1 .button button:hover span, .box1 .button button:active span, .box1 .button button:focus span {
	color: #fff;
}
.box1 .button button:active span, .box1 .button button:focus span {
	color: #ffffff;
}
.box1 .button button:active:before, .box1 .button button:focus:before {
	opacity: 1;
	-webkit-transform: scale(10);
	transform: scale(10);
}

/*box 2 */ 

.box2 {
	position: right;
	background: #fee0a5;
	max-width: 900px;
	width:40%;
	height: 250px;
	margin:auto;
	float:right;
	padding: 0px 50px 50px 50px;
	border-radius: 15px ;
	}
	
.box2 h2 {
	text-align: center;
	color:#9E003A;
	margin:21px 0px;
	}
.box2.inputbox {
	position: center;
	margin: auto;
	padding-top:30px;
	}
	

.box2 .inputbox input {
	position:center;
	outline-color:#bfbfbf;
	background: #ffffff;
	width: 100%;
	height:60px;
	font-size: 32px;
	color:#353839;
	
	margin: auto;
	max-width:99%;
	border: 5px;
	border-radius: 5px ;
	border-color: #4C6A92;
	
	}
	
	
	
.box2 .button {
	position: left;
	margin: 30px 60px;
	text-align: center;
}
.box2 .button button {
	outline: 0;
	cursor: pointer;
	position: relative;
	display: inline;
	background: linear-gradient(#787878 , #404040)  ;
	width: 240px;
	border: 2px solid #bfbfbf;
	border-radius: 5px;
	padding: 20px 0;
	font-size: 22px;
	font-weight: 600;
	line-height: 1;
	text-transform: uppercase;
	overflow: hidden;
	-webkit-transition: .3s ease;
	transition: .3s ease;
}
.box2 .button button span {
	position: relative;
	z-index: 1;
	color: #1B1B1B;
	-webkit-transition: .3s ease;
	transition: .3s ease;
}
.box2 .button button:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	display: block;
	background: #66b3ff;
	width: 30px;
	height: 20px;
	border-radius: 100%;
	margin: 0;
	opacity: 0;
	-webkit-transition: .3s ease;
	transition: .3s ease;
}
.box2 .button button:hover, .box2 .button button:active, .box2 .button button:focus {
	border-color: #fff;
}
.box2 .button button:hover span, .box2 .button button:active span, .box2 .button button:focus span {
	color: #fff;
}
.box2 .button button:active span, .box2 .button button:focus span {
	color: #ffffff;
}
.box2 .button button:active:before, .box2 .button button:focus:before {
	opacity: 1;
	-webkit-transform: scale(10);
	transform: scale(10);
}
	

















	
	